body{
    color : #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, sans-serif;
    width: 1024px;
}

h1, h2, h3, h4, h5, h6{
    color : rgb(164,164,0);
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-decoration: underline;
    width: auto;

}

a{
    color:  #A4A400;
}

dt{
    font-weight: bold;
}

ul{
    list-style-type: none;
}

ul>li{
    margin-top: 15px;
    padding-left: 20px;
    height: 15px;
    width: 15px;
    background-size: 15px;
    background-image: url("../media/favicon.png");
    background-repeat: no-repeat;
    margin-right: 5px;
}

.mainHeader{
   margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
    text-decoration: none;
}

.row{
    display: inline-block;
    width: 98%;
}

.leftElement{
    float: left;
}

.rightElement{
    float: right;
}

#profilePic{
    width: 240px;
    height: 240px;
}