Options +Includes
AddType text/html .shtml
AddHandler server-parsed .shtml

#questa regola permette di non vedere l'estensione shtml nel url del browser
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.shtml [NC,L]